
@inject IJSRuntime js;

<li class="aside-item">
    <a @onclick="ToggleCollapse" class="dropdown-toggle">
        @text
    </a>
    <ul class="list-unstyled collapsible @showCss" style="max-height:@maxHeight;" @ref="items">
        @ChildContent
    </ul>
</li>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string text { get; set; }

    [Parameter]
    public bool active { get; set; }

    string showCss => active ? "active show" : null;
    string maxHeight;

    private ElementReference items;

    protected override void OnAfterRender(bool firstRender)
    {
        if (maxHeight == null)
        {
            maxHeight = active ? (js.GetScrollHeight(items) + "px") : "0";
            if (active)
                StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

    void ToggleCollapse()
    {
        active = !active;
        if (maxHeight == "0")
        {
            maxHeight = js.GetScrollHeight(items) + "px";
        }
        else
        {
            maxHeight = "0";
        }
        StateHasChanged();
    }
}