
@inject IJSRuntime js;

<li class="aside-item">
    <a @onclick="@ToggleCollapse" class="dropdown-toggle">
        @text
    </a>
    <ul class="list-unstyled collapsible @showCss" style="max-height:@maxHeight;" @ref="items">
        @ChildContent
    </ul>
</li>

@code {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string text { get; set; }

    [Parameter]
    bool active { get; set; }

    string showCss => active ? "active show" : null;
    string maxHeight;

    private ElementRef items;

    protected override void OnInit()
    {
        if (maxHeight == null)
        {
            maxHeight = active ? string.Empty : "0";
        }
        base.OnInit();
    }

    async void ToggleCollapse()
    {
        active = !active;
        if (maxHeight == "0" || maxHeight == string.Empty)
        {
            maxHeight = (await js.InvokeAsync<object>("Get", items, "scrollHeight")).ToString() + "px";
        }
        else
        {
            maxHeight = "0";
        }
        StateHasChanged();
    }
}