
<li>
    <NavLink class="nav-link" href="@href" Match="@match">
        <span class="@icon" aria-hidden="true"></span> @text
    </NavLink>
</li>

@code {

    [Parameter]
    public string text { get; set; }

    [Parameter]
    public string icon { get; set; }

    [Parameter]
    public string href { get; set; }

    [Parameter]
    public NavLinkMatch match { get; set; } = NavLinkMatch.Prefix;
}