
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm py-0">
        <a class="navbar-brand" href="#">@AppName</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="sidebarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Pesquise" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0 btn-sm" type="submit">Pesquisar</button>
            </form>
        </div>
    </nav>
</header>

@functions {

    [Parameter]
    string AppName { get; set; }
}