
@inject IJSRuntime js;

<li class="aside-item">
    <a onclick="@ToggleCollapse" class="dropdown-toggle">
        @text
    </a>
    <ul class="list-unstyled collapsible @showCss" ref="items" style="max-height=@maxHeight">
        @ChildContent
    </ul>
</li>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string text { get; set; }

    [Parameter]
    bool active { get; set; }

    string showCss => active ? "active show" : null;
    string maxHeight;

    private ElementRef items;

    async void ToggleCollapse()
    {
        active = !active;
        if (maxHeight == null)
        {
            maxHeight = await js.InvokeAsync<string>("Get", items, "scrollHeight");
        }
        else
        {
            maxHeight = null;
        }
        //await js.InvokeAsync<bool>("Collapsible", items);
    }

    protected override async Task OnAfterRenderAsync()
    {
        maxHeight = await js.InvokeAsync<string>("Get", items, "scrollHeight");
    }
}