@inherits LayoutComponentBase

<HeaderNav AppName="Blazor Chat"></HeaderNav>

<AsideNav>
    <AsideItem active="true" text="Início">
        <AsideLink text="Home #$" icon="oi oi-home" href="" match="NavLinkMatch.All"></AsideLink>
        <AsideLink text="Counter ç^~" icon="oi oi-plus" href="counter"></AsideLink>
        <AsideLink text="Fetch data <>:;.\\//" icon="oi oi-list-rich" href="fetchdata"></AsideLink>
    </AsideItem>
    <AsideItem active="false" text="Cadastros">
        <AsideLink text="Home É" icon="oi oi-home" href="" match="NavLinkMatch.All"></AsideLink>
        <AsideLink text="Counter É" icon="oi oi-plus" href="counter"></AsideLink>
        <AsideLink text="Fetch data É" icon="oi oi-list-rich" href="fetchdata"></AsideLink>
    </AsideItem>
</AsideNav>

<!-- Begin page content -->
<main role="main" class="container-fluid" data-no-fluid>
    @Body
</main>

<footer class="main bg-secondary">
    <div class="footer-container text-light" data-no-fluid>
        <span class="text-light">Place sticky footer content here.</span>
    </div>
</footer>
